//- section.agendamento-personalizado 
//-     h2.title-section Agendamento Personalizado
//-     //- Seção de Agendamento Personalizado
//-     form#agendamento-personalizado
//-         input(type="hidden" name="funcionario_id" id="funcionario_id" value=funcionario.id)
//-         div.form-group.dias-disponiveis
//-             each item in agenda
//-                 div
//-                     p Data: #{item.data}
//-                     div.form-group
//-                         label(for=`horario-${item.data}`) Horário
//-                         select.form-control(name='agendamentos' data-data=item.data id=`horario-${item.data}`)
//-                             option(value="") Selecione um horário
//-                             each horario in item.horarios
//-                                 option(value=horario) #{horario}
//-         .forms 
//-             div.form-group
//-                 label(for="nome") Nome
//-                 input#nome.form-control(type="text" placeholder="Nome do Paciente" required)
//-             div.form-group
//-                 label(for="telefone") Telefone
//-                 input#telefone.form-control(type="text" placeholder="Telefone do Paciente" required)
//-             div.form-group
//-                 label(for="cpf") CPF
//-                 input#cpf.form-control(type="text" placeholder="CPF do Paciente" required)
//-         button#btn-agendar.btn Agendar

section.agendamento-personalizado 
    h2.title-section Agendamento Personalizado
    //- Seção de Agendamento Personalizado
    form#agendamento-personalizado
        input(type="hidden" name="funcionario_id" id="funcionario_id" value=funcionario.id)
        div.form-group.dias-disponiveis
            each item in agenda
                div
                    //- p Data: #{new Date(item.data).toLocaleDateString('pt-BR')}
                    p Data: #{item.data}
                    div.form-group
                        label(for=`horario-${item.data}`) Horário
                        select.form-control(name='agendamentos' data-data=item.data id=`horario-${item.data}`)
                            option(value="") Selecione um horário
                            each horario in item.horariosDisponiveis
                                option(value=horario.hora) #{horario.hora}
        .forms 
            div.form-group
                label(for="nome") Nome
                input#nome.form-control(type="text" placeholder="Nome do Paciente" required)
            div.form-group
                label(for="telefone") Telefone
                input#telefone.form-control(type="text" placeholder="Telefone do Paciente" required)
            .form-group 
                label(for="email") E-mail
                input#email.form-control(type="email" placeholder="E-mail do Paciente" required)
            div.form-group
                label(for="cpf") CPF
                input#cpf.form-control(type="text" placeholder="CPF do Paciente" required)
        button#btn-agendar.btn Agendar