.agendamentos-marcados    
        if agendamentos
            each agendamento in agendamentos
                tr
                    td.nome-paciente #{agendamento.nome}
                    td #{agendamento.data}
                    td #{agendamento.hora}
                    td #{agendamento.telefone}                    
                    td
                        if agendamento.cliente 
                            button(type="button" class="btn btn-iniciar" data-agendamento-id=agendamento.id data-cliente-id=agendamento.cliente._id data-nome=agendamento.nome data-cpf=agendamento.cpf) Iniciar
                        else
                            button(type="button" class="btn btn-cadastrar-cliente" data-id=agendamento.id data-nome=agendamento.nome data-cpf=agendamento.cpf) Cadastrar
        