section.section-equipe 
    h2.title-section Nossa equipe 
    .container
        each funcionario in funcionarios
            .card-funcionario

                img(src=`/images/fotos_perfil/user-${funcionario.nome}.jpeg` alt=funcionario.nome loading="lazy")
                .card-body 
                    h5.card-title #{funcionario.nome}
                    p.card-subtitle #{funcionario.profissao}
                    button.accordion.btn-accordion Saiba mais
                    .panel 
                        p #{funcionario.descricao || 'Sem descrição'}      


section.link-agendar

    p A Meta Saúde Integrada é dedicada ao cuidado integral, oferecendo serviços de fisioterapia, psicologia, psicopedagogia e psicanálise em Mossoró.

    div.divlink
        a(href='/agendamento') Agendar consulta
