section.section-equipe 
    h2.title-section Nossa equipe 
    .container
        each funcionario in funcionarios
            .card-funcionario
                 
                img(src=`/images/fotos_perfil/user-${funcionario.nome}.jpeg` alt=funcionario.nome)
                .card-body 
                    h5.card-title #{funcionario.nome}
                    p.card-subtitle #{funcionario.profissao}
                    button.accordion.btn-accordion Saiba mais
                    .panel 
                        p #{funcionario.descricao || 'Sem descrição'}      


section 
    p A Meta Saúde Integrada é uma clínica de saúde dedicada ao cuidado integral, oferecendo serviços de fisioterapia, psicologia, psicopedagogia e psicanálise em Mossoró. Localizada no Pedro Frederico Mall, nossa equipe de profissionais qualificados trabalha para promover bem-estar e desenvolvimento, atendendo desde crianças até adultos com atenção especializada. 
    p Cada consulta é pensada para oferecer um atendimento humanizado e personalizado, focado nas necessidades individuais de nossos pacientes. Agende sua consulta e experimente um cuidado que vai além do tratamento: cuidamos de você e de quem você ama.     
