extends base

block content
  h1.title-section Faça seu agendamento
  section.section-equipe
    .container
      if mensagem
        .card-funcionario
          h3.title-section #{mensagem}
      else
        each funcionario in agenda
          .card-funcionario
            input(type="radio" name='funcionario' value=funcionario.nome, id=funcionario.nome required style='display: none')                 
            label(for=funcionario.nome)
              .card(data-id=funcionario.id data-agenda=JSON.stringify(funcionario.agenda))
                img(src=`/images/fotos_perfil/user-${funcionario.nome}.jpeg` alt="imagem da equipe")
                .card-body 
                  h5.card-title #{funcionario.nome}
                  p.card-subtitle #{funcionario.profissao}
                  p R$ #{funcionario.valor}

  section.section_form(style='display: none')
    h3.title-section Agendamento para: 
      span#funcionario_nome 

    form#agendamento-form
      input(type='hidden' name='funcionario_id' id='funcionario_id')
      div.form-group
        label(for='nome') Nome
        input#nome.form-control.form__input(type='text' name='nome' required)
      div.form-group 
        label(for='cpf') CPF
        input#cpf.form-control.form__input(type='text' name='cpf' required)         
      div.form-group
        label(for='telefone') Telefone
        input#telefone.form-control.form__input(type='text' name='telefone' required)
      .form-group 
        label(for='email') Email
        input#email.form-control.form__input(type='email' name='email' required)
      div.form-group
        label(for='data') Data
        select.form__input(name="data" id="data" class="form-control" required)
          option(value='') Selecione uma data

      div.form-group
        label(for='horarios') Horários Disponíveis
        select.form__input(name="horarios" id="horarios" class="form-control" required)
          option(value='') Selecione um horário

      div.form-group
        button.btn.btn--agendar(type="submit") Agendar