extends base

block content 
    section.perfil 
        h1.title-section Meu Perfil
        .container
            .modal-body.section_form.container-cadastro-cliente
                form#update-dados-especialista
                    input(type='hidden', name='_id', id="_id" value=`${funcionario._id}`)
                    .form-group 
                        label(for="foto") Imagem:
                        img.img-perfil(src=`images/fotos_perfil/user-${funcionario.nome}.jpeg`, alt='Foto de perfil')
                        input(type='file', id='foto', name='foto', accept='image/*')
                    div.form-group
                        label(for='nome') Nome:
                        input#nome.form__input(type='text', value=`${funcionario.nome}` required)
                    div.form-group
                        label(for='email') E-mail:
                        input#email.form__input(type='email', value=`${funcionario.email}` required)
                    div.form-group
                        label(for='telefone') Telefone:
                        input#telefone.form__input(type='tel', value=`${funcionario.telefone}` required)
                    div.form-group
                        label(for='profissao') Profissão:
                        input#profissao.form__input(type='text',value=`${funcionario.profissao}` required)
                    .form-group 
                        label(for='valor-consulta') Valor da consulta:
                        input#valor-consulta.form__input(type='number', placeholder='Valor da consulta' value=`${funcionario.valor_consulta}` required)
                    .form-group 
                        label(for='instagram') Instagram:
                        input#instagram.form__input(type='text', value=`${funcionario.instagram}`)
                    .form-group 
                        label(for="descricao") Descrição:
                        textarea#descricao.form__input(name='descricao', required, placeholder='Uma breve descrição do seu tipo de atendimento, no máximo 200 caracteres.', maxlength="200" value=`${funcionario.descricao}`) #{funcionario.descricao}
                
                    .btns 
                        button.btn#btn-atualizar Atualizar
        